{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Deletar Membro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body id="confirmar_deletar"> 
    <h2>Confirmar Exclusão</h2>

    <p class="pergunta_deletar">
        Tem certeza que deseja deletar o membro "{{ membro.firstname }} {{ membro.lastname }}"?
    </p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="botao_deletar">Sim, deletar</button>
        <a href="{% url 'membros' %}" class="botao_cancelar">Cancelar</a>
    </form>

</body>
</html>